@import '../../../assets/styles/variables';

.body {
  width: 100%;
  height: 100%;
}

.title {
  padding: 1rem 2rem 0;

  color: $app-dark-blue;

  h2 {
    margin: 0;
  }
}

.row {
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-card {
    background-color: white;

    border-radius: 12px;

    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

    padding: 2rem;

    .form-title {
      color: $app-dark-blue;

      h3 {
        margin: 0.5rem 0 1rem 0;
      }
    }

    .form-inputs{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      ::ng-deep .mat-form-field-flex  {
        align-items: center;
      }

      ::ng-deep .mat-form-field-appearance-outline{
        &.mat-focused,&:hover {
          .mat-form-field-outline {
            color: $app-dark-blue;
          }
        }
      }

      ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: $app-dark-blue;
      }

      ::ng-deep .mat-input-element {
        caret-color: $app-dark-blue;
      }

      .ng-fa-icon {
        font-size: 24px;
        margin: 0 1rem 0 0.5rem;
        color: $app-dark-blue;
      }

      ::ng-deep .mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-background{
        background-color: $app-dark-blue;
      }

    }

    .buttons-div {
      display: flex;
      justify-content: left;
      align-items: center;

      margin-top: 1rem;

      button {
        font-size: 16px;

        &:not(:nth-child(1)) {
          margin-left: 1rem;
        }

        &:not(.confirm-button) {
          color: $app-dark-blue;
        }
      }
    }

  }
}

.confirm-button {
  background-color: $app-dark-blue;
  color: white;
}
