<div class="sidebar-container">
  <div class="sidebar-header">
    <img src="../../../assets/images/logo_transparent.png" alt="Pretty Panel Template">
  </div>
  <div class="sidebar-body">
    <ul class="link-list">
      <li>
        <a href="#" routerLink="/dashboard" routerLinkActive="active">
          <fa-icon [icon]="faChartBar"></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/table" routerLinkActive="active">
          <fa-icon [icon]="faTable"></fa-icon>
          <span>Table</span>
        </a>
      </li>
    </ul>
  </div>
</div>
